.rankings {
    padding-bottom: 100px;
}

.rankings-table {
    width: 90%;
    height: auto;
    border: ridge white 6px;
}

#rank-table-header {
    border: outset white 2px;
    height: 50px;
}

#rank-table-rank-column {
    width: 50px;
    border: outset white 2px;
}

#rank-table-team-column {
    width: 300px;
    border: outset white 2px;
}

#rank-table-data {
    border: outset white 2px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    border-collapse: collapse;
}

#rank-number {
    border: outset white 2px;
    height: 50px;
    width: 50px;
    font-size: 2em;
}

