.router {
  height: 500px;
}

body {
  background-color: #201547;
}

ul {
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

li {
  font-size: 3em;
  display: inline;
  margin:30px;
}

li a {
  color: #aadeeb;
}

div {
  text-align: center;
  background-color: #201547;
  color: white;
  font-family: Oswald, sans-serif;
}

h1 {
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 5em;
  font-weight: bold;
  line-height: 95%;
}

h2 {
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 3.5em;
}

h3 {
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 3em;
}

h4 {
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 2em;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
  font-size: 2em;
}

message {
  font-size: 2em;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.cody-evins-logo{
  display: flex;
  justify-content: right;
  animation: slow-fade 3s ease-in;
}

.App-header {
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 
    fade 1.5s ease-in,
    slide 1.5s ease-in;
}

.router {
  animation: slow-fade 3s ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}

@keyframes slide {
  from { transform:translate(0, -40px) }
  to { transform:translate(0, 0) }
}

@keyframes slow-fade {
  0% { opacity: 0}
  33% {opacity: 0}
}

#logo {
  height: 250px;
  padding: 20px 15px 0 0;
}

#page-title {
  text-align: left;
}

 #CE {
   max-height: 125px;
 }

button {
  background-color: #582c83;
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 2em;
  padding: 20px;
  border: 2px solid #f2be1a;
  cursor: pointer;
  margin: 20px;
}

button:hover{
  box-shadow: 0 12px 16px 0 #f2c01a4f, 0 17px 50px 0 #f2c01a75;
  background-color: #30144d;
  transition-duration: 0.4s;
}

button:active {
  box-shadow: 0 12px 16px 0 #f2c01a00, 0 17px 50px 0 #f2c01a00;
  background-color: #30144d;
  transform: translateY(4px);
  transition-duration: 0.15s;
}

#animation {
  padding: 350px 0 400px;
}
