.game-input table {
    width: 80%;
}

.game-input th {
    font-size: 2em;
    padding-bottom: 10px;
}

.game-input td {
    font-size: 2em;
}

#player-select {
    height: 50px;
    width: 300px;
}

#score-input-box {
    width: 40px;
    height: 40px;
}
  
.submit {
    width:100px;
}
  