.game-input {
    animation: fade 0.9s ease-in;
}

.game-input table {
    width: 80%;
}

.game-input th {
    font-size: 2em;
    padding-bottom: 10px;
}

.game-input td {
    font-size: 2em;
}

#player-select {
    height: 50px;
    width: 300px;
    text-align: center;
}

.score-input-box {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    text-align: center;
    justify-content: center;
}

  
.submit {
    width:100px;
}
  