#score-sheet-player-select {
    height: 60px;
    width: auto;
    padding: 0 20px;
    font-size: 2.5em;
    text-align: center;
}

.red {
    color: #e3322b;
}

.blue {
    color: #aadeeb;
}

.one {
    border-radius: 100%;
    background: #e3322b;
}

.six {
    border-radius: 100%;
    background: #aadeeb;
    color: #0011ad
}

.score-sheet-div {
    padding-bottom: 140px;
    animation: fade 0.9s ease-in;
}

.score-sheet-div table {
    width: 80%;
    padding: 30px;
}

.score-sheet-div th {
    font-size: 2em;
    padding: 10px 0 10px 0;
}

.score-sheet-div td {
    font-size: 2em;
    padding: 10px;
}

#score-cells td {
    height: 50px;
    width: 50px;
}

#game {
    border-right: dotted 5px white;
}

#total {
    font-weight: bolder;
    border-left: dotted 5px white;
}

.printed-stats {
    animation: fade 0.9s ease-in-out;
}